<div class="panel panel-default col-md-4 col-md-offset-4 ">
  <div class="panel-body">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate>
      <fieldset>
        <legend>Login </legend>
      </fieldset>
      <div class="form-group">
        <input-text [showError]="loginForm.controls.username.hasError('required') && loginForm.controls.username.touched" formControlName="username"
          myLabel="User Name" myPlaceholder="enter your username.." min=3 max=15 [isPassword]='false'></input-text>
        <div class="errorMessage" [hidden]="!loginForm.controls.username.hasError('required') || !loginForm.controls.username.touched">
          username is required
        </div>
        <div [hidden]="!loginForm.controls.username.hasError('minlength') && !loginForm.controls.username.hasError('maxlength')">
          username can not be shorter than 3 characters or longer than 15.
        </div>

        <input-text [showError]="(loginForm.controls.password.hasError('required') && loginForm.controls.password.touched )|| ((loginForm.controls.password.hasError('minlength') || loginForm.controls.password.hasError('maxlength')) &&  loginForm.controls.password.touched)"
          formControlName="password" myLabel="Password" myPlaceholder="enter your password.." min=8 max=35 [isPassword]='true'>
        </input-text>
        <div class="errorMessage" [hidden]="!loginForm.controls.password.hasError('required') || !loginForm.controls.password.touched">
          password is required
        </div>
        <div class="errorMessage" [hidden]="!loginForm.controls.password.hasError('minlength') && !loginForm.controls.password.hasError('maxlength')">
          Password can not be shorter than 8 characters or longer than 30.
        </div>

      </div>

      <input type="submit" class="btn  btn-default" value="login" />
    </form>
  </div>
</div>