<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Vodafone Training</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">Home</a>
    </li>
  </ul>
</nav>
<div class="header">
  <div class="logo">
    <a>
      <i></i>
    </a>
  </div>
</div>
<div id="main" class="container">
  <div class="row">
    <h2 class="text-center">{{'app.title' | translate}}</h2>
    <router-outlet></router-outlet>
    <app-login></app-login>
  </div>
</div>
<footer class="footer">copy right by vodafone spain &copy; {{currentDate}}</footer>